.vscode/**
**/*.ts
**/*.map
.gitignore
vsixreleases
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml
**/test/**
**/testFixture/**
server/src/tools/**
client/node_modules/**
!client/node_modules/vscode-jsonrpc/**
!client/node_modules/vscode-languageclient/**
!client/node_modules/vscode-languageserver-protocol/**
!client/node_modules/vscode-languageserver-types/**
!client/node_modules/semver/**
